################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Image/FileContentIndex/80a4f561-6c56-4a7b-9371-e49c9908187c.vsidx
